<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Study</title>

    <!-- font -->    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- css -->
	<link href="../assets/css/common.css" rel="stylesheet" type="text/css">    
	<link href="../assets/css/main.css" rel="stylesheet" type="text/css">    
    
    <!-- js -->
    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <section id="wrap">
        <section>
            <h1>{{ msg }}</h1>
            <ul>   
                <!-- vfor 디렉티브 사용할때 key는 필수로 이후에 에러나 중복문제가 발생할수있음 -->
                <li v-for="i in webeit" 
                    v-bind:key="i.txt"> 
                    <p><span>{{ i.txt }}</span> {{ i.link }} </p>
                </li>
            </ul>
            <br>
            <span v-bind:title="msg2">내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!</span>
            <br>
            <div class="text" v-bind:class="{ 'active': active }">
                {{ msg }}
            </div>
            <br>
            <div v-if="show">
                보여요!
            </div>
            <br>
            <div v-if="msg">
                {{ msg }} ~~
            </div>
            <br>

        </section>
        <hr>

    </section>
<script>
    const vm = new Vue({
        el:'#wrap',
        data: {
            msg : 'Hello World!',
            msg2 : `이페이지는 ${new Date()}에 로드 되었습니다.`,
            active : true,
            show: false,
            webeit: [
                {txt: '코드팬', link : 'https://codepen.io/'},
                {txt: 'JS피들', link : 'https://jsfiddle.net/'},
                {txt: 'JS빈', link : 'https://jsbin.com/'}
            ]
        }
    })
</script>
</body>
</html>